{% extends "base.html" %}
{% load static %}
{% block container %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg=" {% static "img/breadcrumb-bg.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Change Password</h2>
                        <div class="bt-option">
                            <a href="{% url "home" %}">Home</a>
                            <span>Change Password
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include "trainer/sidebar.html" %}
                </div>
                <div class="col-lg-6">
                    <form action="" method="post" id="password-form">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label text-white fw-semibold">
                            {{ field.label }}
                            </label>

                            {{ field }}

                            {% if field.help_text %}
                            <small class="form-text text-muted mt-3">{{ field.help_text }}</small>
                            {% endif %}

                            {% if field.errors %}
                            <div class="text-danger mt-1">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <button type="submit" class="form-control btn" style="background-color:#f36100;"><h5 style="color:white;">Change Password</h5></button>
                        <div class="text-danger mt-5" id="error-msg"></div>
                    </form>
                </div>
            </div>
            
        </div>
    </section>


    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        


        $(document).ready(function() {
            $(document).on('submit','#password-form',function(e) {
              e.preventDefault();
          
              $.ajax({
                url: "{% url 'trainer-change-password' %}",  // Ensure this URL is correct
                type: 'POST',
                data: $(this).serialize(),
                headers:{
                  'X-CSRFToken': getCookie('csrftoken')
                },
                dataType: 'json',
          
                success: function(response) {
                  if (response.status === 'success') {
                    $('#password-form').replaceWith(response.html);
                    alert('Password Changed successfully!');

                  } else {
                    // If there are errors in the response
                    $('#error-msg').empty(); // Clear previous errors
                    for (let field in response.errors) {
                      response.errors[field].forEach(function(error) {
                        // Append each error message to the error container
                        $('#error-msg').append('<h6 style="color:red;margin-bottom:10px;margin-bottom:10px;">' + field + ' : ' + error + '</h6>');
                      });
                    }
                  }
                },
          
                error: function(xhr, status, error) {
                  // Handle error response from server (e.g., bad request)
                  console.log('AJAX Error:', error);
          
                  // If errors are returned from the server, handle them
                  let errors = xhr.responseJSON.errors;
                  $('#error-msg').empty(); // Clear any previous errors
                  for (let field in errors) {
                    errors[field].forEach(function(error) {
                      // Append each error message to the error container
                      $('#error-msg').append('<h6 style="color:red;margin-bottom:10px;">' + field + ' : ' + error + '</h6>');
                    });
                  }
                }
              });
            });
          });
          
      </script>
      
  
    

    {% endblock container %}
