
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/flaticon.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/barfiller.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "about" %}">About Us</a></li>
                <li><a href="{% url "services" %}">Services</a></li>
                <li><a href="{% url "teams" %}">Our Team</a></li>
                <li><a href="{% url "gallery" %}">Gallery</a></li>
                <li><a href="{% url "contact" %}">Contact</a></li>
                <li><a href="#">My Account</a>
                    <ul class="dropdown">
                        {% if not request.user.is_authenticated %}
                            <li><a href="{% url "signup" %}">Register</a></li>
                            <li><a href="{% url "login" %}">Login</a></li>
                        {% elif request.user.is_authenticated and request.user.role == 'trainer' %}
                            <li><a href="{% url "trainer-dashboard" %}">Dashboard</a></li>
                            <li><a href="{% url "logout" %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url "user-dashboard" %}">Dashboard</a></li>
                            <li><a href="{% url "logout" %}">Logout</a></li>
                        {% endif %}
                        
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="{{contact.facebook_link}}"><i class="fa fa-facebook"></i></a>
            <a href="{{contact.twitter_link}}"><i class="fa fa-twitter"></i></a>
            <a href="{{contact.youtube_link}}"><i class="fa fa-youtube-play"></i></a>
            <a href="{{contact.instagram_link}}"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{{contact.logo.url}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li class="active"><a href="{% url "home" %}">Home</a></li>
                            <li><a href="{% url "about" %}">About Us</a></li>
                            <li><a href="{% url "services" %}">Services</a></li>
                            <li><a href="{% url "teams" %}">Our Team</a></li>
                            <li><a href="{% url "gallery" %}">Gallery</a></li>
                            <li><a href="{% url "contact" %}">Contact</a></li>
                            <li><a href="#">My Account</a>
                                <ul class="dropdown">
                                    {% if not request.user.is_authenticated %}
                                    <li><a href="{% url "signup" %}">Register</a></li>
                                    <li><a href="{% url "login" %}">Login</a></li>
                                {% elif request.user.is_authenticated and request.user.role == 'trainer' %}
                                    <li><a href="{% url "trainer-dashboard" %}">Dashboard</a></li>
                                    <li><a href="{% url "logout" %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url "user-dashboard" %}">Dashboard</a></li>
                                    <li><a href="{% url "logout" %}">Logout</a></li>
                                {% endif %}
                                    
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        
                        <div class="to-social">
                            <a href="{{contact.facebook_link}}"><i class="fa fa-facebook"></i></a>
                            <a href="{{contact.twitter_link}}"><i class="fa fa-twitter"></i></a>
                            <a href="{{contact.youtube_link}}"><i class="fa fa-youtube-play"></i></a>
                            <a href="{{contact.instagram_link}}"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

   {% block container %}
   {% endblock container %}

   <div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>{{contact.address}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <p>
                        {{contact.phone}}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-envelope"></i>
                    <p>{{contact.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src={{contact.logo.url}}" alt=""></a>
                        </div>
                        <p>IronCore Fitness empowers your fitness journey with expert training, modern equipment, and a motivating community.</p>
                        <div class="fa-social">
                            <a href="{{contact.facebook_link}}"><i class="fa fa-facebook"></i></a>
                            <a href="{{contact.twitter_link}}"><i class="fa fa-twitter"></i></a>
                            <a href="{{contact.youtube_link}}"><i class="fa fa-youtube-play"></i></a>
                            <a href="{{contact.instagram_link}}"><i class="fa fa-instagram"></i></a>
                            <a href="{{contact.email}}"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="{% url "about" %}">About</a></li>
                            <li><a href="{% url "teams" %}">Team</a></li>
                            <li><a href="{% url "services" %}">Services</a></li>
                            <li><a href="{% url "faq" %}">Faq</a></li>

                            <li><a href="{% url "contact" %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="{% url "login" %}">Login</a></li>
                            
                            <li><a href="{% url "contact" %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fs-widget">
                        <h4>Tips & Guides</h4>
                        <div class="fw-recent">
                            <h6><a href="#">Physical fitness may help prevent depression, anxiety</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                        <div class="fw-recent">
                            <h6><a href="#">Fitness: The best exercise to lose belly fat and tone up...</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static "js/jquery-3.3.1.min.js" %} "></script>
    <script src="{% static "js/bootstrap.min.js" %} "></script>
    <script src="{% static "js/jquery.magnific-popup.min.js" %} "></script>
    <script src="{% static "js/masonry.pkgd.min.js" %} "></script>
    <script src="{% static "js/jquery.barfiller.js" %} "></script>
    <script src="{% static "js/jquery.slicknav.js" %} "></script>
    <script src="{% static "js/owl.carousel.min.js" %} "></script>
    <script src="{% static "js/main.js" %} "></script>



</body>

</html>