{% extends "base.html" %}
{% load static %}
{% block container %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb-bg.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Contact Us</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <a href="#">Pages</a>
                            <span>Contact us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title contact-title">
                        <span>Contact Us</span>
                        <h2>GET IN TOUCH</h2>
                    </div>
                  
                    <div class="contact-widget">
                        <div class="cw-text">
                            <i class="fa fa-map-marker"></i>
                            <p>{{data.address}}</p>
                        </div>
                        <div class="cw-text">
                            <i class="fa fa-mobile"></i>
                            <p>
                                {{data.phone}}
                            </p>
                        </div>
                        <div class="cw-text email">
                            <i class="fa fa-envelope"></i>
                            <p>{{data.email}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="leave-comment">
                        <form  id="enq-form">
                            {{form.as_p}}
                            {% csrf_token %}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    <div id="response-msg" class="mt-3"></div>
                </div>
            </div>
            <div class="map">
                {{data.map_location|safe}}
            </div>
        </div>
    </section>
    

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        $(document).ready(function (){
            $('#enq-form').on('submit',function(e){
                e.preventDefault();

                let formData=$(this).serialize();
                $.ajax({
                    type:'POST',
                    url:"{% url 'enquiry' %}",
                    data:formData,
                    headers:{
                        'X-CSRFToken':getCookie('csrftoken')
                    },
                    success:function(response){
                        if (response.success){
                            $('#response-msg').html('<h5 style="color:green;">'+response.message+'</h5>');
                            $('#enq-form')[0].reset();
                        }else{
                            let errorList='<ul>';
                            $.each(response.errors,function(key,value){
                                errorList+='<li>'+ key +': '+ value[0]+'</li>'
                            });
                            errorList+='</ul>'
                            $('#response-msg').html('<h5 style="color:red;">'+response.message+'</h5>');

                        }
                    },
                    error:function(){
                        $('#response-msg').html('<h5 style="color:red;"> An error Occured Please try again.</h5>');

                    }
                });
            });
        });
    </script>
    
    {% endblock container %}
